extends layout

block content
    .container
        .header.flex-wrapper.test
            .empty
                .logo logo
            input(placeholder="Search title").search-input
            .empty
        .container-body
            .side-list
                .filter
                .item-list
                    each i in [1,2,3,4,5,6,7,8,10,11,12,13,14,15]
                        .item
                            .title Arcs, Angles, or Areas : Individual Data Encodings in Pie and Donut...
                            .author 2016, Drew Skau, Robert Kosara
            .main
                svg#renderer
            .side-info

    script(src="data/data.js")
    script(src="polar.coordinate.js")
    script(src="main.js")
