doctype html
html
	head
		title= title
		script(src='d3/dist/d3.min.js')
		script(src='util.js')
		script(src='https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js')
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
