doctype html
html
	head
		title= title
		script(src='d3/dist/d3.min.js')
		script(src='jquery/dist/jquery.min.js')
		script(src='https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js')
		script(type="text/javascript" src="/vis/dist/vis.js")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(href="/vis/dist/vis.css" rel="stylesheet" type="text/css")
	body
		block content
