extends layout

block content
	.container
		.header.flex-wrapper.test
			.empty
				.logo
			input(placeholder="Search title")#search-input
			.empty
		.container-body
			.side-list
				.filter-wrapper
					.filter-box
						i.material-icons.radio radio_button_unchecked
						.text Group
					.filter-box
						i.material-icons.radio radio_button_checked
						.text Conference
				#search-list.item-list
					//.item
					//	.title Arcs, Angles, or Areas : Individual Data Encodings in Pie and Donut...
					//	.author 2016, Drew Skau, Robert Kosara
			.main
				svg#main
			.side-info

	script(src="axios/dist/axios.min.js")
	script(src="sandglass.coordinate.js")
	script(src="data/data.js")
	script(src="sandglass.js")
