extends layout

block content
	link(rel='stylesheet', href='/stylesheets/style.css')

	.container
		.header.flex-wrapper.test
			.empty
				.logo
			input(placeholder="Search title")#search-input
			.empty
		.container-body
			.side-list
				.filter-wrapper
					.filter-box
						i.material-icons.radio radio_button_unchecked
						.text Group
					.filter-box
						i.material-icons.radio radio_button_checked
						.text Conference
				#search-list.item-list
			.main
				svg#main
			.side-info

	script(src="axios/dist/axios.min.js")
	script(src="sandglass.coordinate.js")
	script(src="data/data.js")
	script(src="sandglass.js")
